.pv-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.tool-group {
  margin: 20px;
}

.tool-group-lower {
  display: flex;
  margin: auto;
}

.spValChecker {
  margin: 10px 30px 0 30px;
  display: flex;
}

.spValLabel {
  margin: 0 5px;
  display: flex;
}
